#c1, .client{
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	margin: 10px 1px 10px 40px;
	float: left;

}
#show{
	display: inline;
	width: 100px;
	height: 100px;
	margin: 10px 20px 10px 0px;
	float: left;
	line-height: 100px;
	vertical-align: middle;
	font-size: 70%;
}
#dropImg{
	height: 80px;
	width: 80px;
	vertical-align:middle;
}
.drop1,.drop2{
	display: inline;
	line-height: 100px;
	height: 100px;
	width: 140px;
	float: left;
	border: 1px solid #aaaaaa;
	margin: 2px 30px 20px 50px;
	text-align: center;

}
audio,video{
	margin: 2px 50px;
}
.button_group{
	margin:2px 50px;
}
.main, table, div{
	font-family:verdana,helvetica,arial,sans-serif;
	background:#ffff99;
	margin: 4px 0px 0px 0px;
}
.main span{
	margin:40px;
	font-weight: bold;
	font-size: 150%;
	outline:#3E584B 2px;
}
.main hr{
	clear: both;
	border-top:2px solid #AAAAAA;
	width:80%;
	margin:20px;

}
.main>a:link,.main>a:visited{
	clear: both;
	color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight:bold;
	background-color:#A7C942;
	text-decoration:none;
	padding:5px 20px;

}
.main> a:hover,.main>a:active{
	background-color: #7A9939;
	text-decoration:none;
	padding:3px 21px 7px 19px;
}
#table{
	margin: 20px 0px;
	border-collapse:collapse;
	width:600px;
	background-color:#fff
	 
}
#table th, td{
	border: 1px solid #98BF21;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align:left;
	padding:4px 0px 4px 6px;
}
#table th{
	font-size: 24px;
	background-color:#A7C942;
	color:#fff;
}
.two{
	background-color:#EAF2D3;
}

#mtest{
	outline: #81817F dashed 2px;
	width:260px;
	background-color:#F2F2DB;
	margin: 30px;
}
#mtest2{
	outline: #81817F dashed 2px;
	width:260px;
	background-color:#F2F2DB;

}
#mtest p{
	outline: #A7C942 solid 2px;
	width:200px;
	height:20px;
	background-color:#fff;
	margin:30px 30px 30px 30px;
}
.imggroup div{
	border:1px solid #BEBEBE;
	width:auto;
	height:auto;
	margin:3px;
	float:left;
}
.imggroup img{
	margin:5px 5px 0px 5px;
	width:160px;
	height:160px;
	border:1px solid #BEBEBE;
}
.imggroup img:hover{
	border:1px solid #172214;
	cursor:pointer;
}
.imggroup p{
	margin:10px 5px 0px 5px;
	text-align:center;
	font-size:10px;
}
.img3 img:hover{
	opacity:0.4;
	filter:alpha(opacity=40);
}
.img2 img{
	opacity:0.1;
	filter:alpha(opacity=10);
}
.img2 img:hover{
	opacity:1.0;
	filter:alpha(opacity=100);
}
#hehe{
	float:left;
	margin:2px;
	border:1px solid #BEBEBE;
	background:url('img/img4.jpg') no-repeat;
	background-size:170px 160px;
	width:170px;
	height:193px;
	font-size:10px;
	vertical-align:middle;
	position:relative;
}
#hehe .top{
	position:absolute;
	top:10px;
	left:20px;
	width: 70%;
  	height: auto;
  	margin:2px;
  	background-color: #ffffff;
  	border: 1px solid black;
  	/* for IE */
  	filter:alpha(opacity=60);
  	/* CSS3 standard */
  	opacity:0.7;
  	text-align:center;
  	text-weight:bold;
  	line-height:1.4;
}
#hehe > p{
	position:absolute;
	bottom:-10px;
	left:30px;
}
.daohang{
	clear: both;
}
.daohang a{
	display:block;
	float:left;
	/*padding:5px 25px 5px 25px;*/
	width:10%;
	padding:6px 0px;
	color: #fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
	text-decoration:none;	
	text-align:center;
}
.daohang>a:link,.daohang>a:visited{
	background-color:#BEBEBE;	

}
.daohang>a:hover,.daohang>a:active{
	background-color:#CC0000;	
}
.radius_test{
	clear: both;
	margin: 10px 0px 5px 0px;
}
.radius_test a{
	display: block;
	float: left;
	width:9.8%;
	padding:6px 0px;
	color: #fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
	text-decoration:none;	
	text-align:center;
	border:1px solid #fff;
	border-radius: 25px;
}
.radius_test>a:link,.radius_test>a:visited{
	background-color:#FF9900;	

}
.radius_test>a:hover,.radius_test>a:active{
	background-color:#CC0000;	
}
.shadow_test{
	clear: both;
}
.shadow_test a{
	display: block;
	float: left;
	display: block;
	float: left;
	width:9.8%;
	padding:6px 0px;
	color: #fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:bold;
	text-decoration:none;	
	text-align:center;
	border: 1px solid #000;
	margin: 0px 3px 0px 0px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #000;
}
.shadow_test>a:link,.shadow_test>a:visited{
	background-color:#A7C942;	

}
.shadow_test>a:hover,.shadow_test>a:active{
	background-color:#CC0000;	
}
.img_top,.img_bottom{
	clear:both;
	background-color: #fff;
	width:auto;
	height: auto;
	border: 1px solid #BFBFBF;
	float:left;
	position:relative;
	box-shadow:2px 2px 2px #BFBFBF;

}
.img_top>img,.img_bottom>img{
	display:block;
	margin: 15px 20px 20px 15px;
	border:2px solid #000;
}
.img_top>p,.img_bottom>p{
	top:20px;
	padding:5px;
	text-indent:20px;
	margin:0px 0px 30px 0px;

}
.img_top{
	transform:rotate(10deg);
	margin:40px 0px 5px 40px;
}
.img_bottom{
	transform:rotate(-10deg);
	margin:10px 0px 50px 40px;
}

.around,.stretch{
	clear: both;
	border:15px solid transparent;
	width:300px;
	padding:10px 20px;
}
.around
{
	-moz-border-image:url(/i/border.png) 30 30 round;	/* Old Firefox */
	-webkit-border-image:url(/i/border.png) 30 30 round;	/* Safari and Chrome */
	-o-border-image:url(/i/border.png) 30 30 round;		/* Opera */
	border-image:url('img/border.png') 30 30 round;
}
.stretch{
	-moz-border-image:url(/i/border.png) 30 30 stretch;	/* Old Firefox */
	-webkit-border-image:url(/i/border.png) 30 30 stretch;	/* Safari and Chrome */
	-o-border-image:url(/i/border.png) 30 30 stretch;	/* Opera */
	border-image:url('img/border.png') 30 30 stretch;
}
#guodu{
	background-color: #CEE297;
	width: 120px;
	height: 80px;
	text-align:center;
	line-height:80px;
	margin:20px;
	border-radius:10px;
	font-family:sans-serif;
	font-weight:bold;
	color:#fff;
	font-size:110%;
	/*transition:all 0.5s linear 0s;*/
	transition-property:all;
	transition-duration:0.5s;
	transition-timing-function:linear;
	transition-delay:0s;

}
#guodu:hover{
	width:160px;
	height:120px;
	background-color:#1EC7E6;
	transform:rotate(360deg);
}
#animation{
	width: 80%;
	height: 120px;
	border-style:solid;
	border-width:2px 0px;
	border-color:#AAAAAA;
	margin:20px;
	position: relative;
}
#animation>p{
	position: absolute;;
	animation:myfirst 6s 5;/*infinite*/
	width: 100px;
	height: 80px;
	background:#92B901;
	border-radius:10px;
	line-height: 80px;
	font-family:  "Trebuchet MS",sans-serif;
	font-weight: bold;
	color: #fff;
	text-align: center;
	left: 2%;
}
@keyframes myfirst
{
0%{
	background-color: #92B901;
}
30%{
	animation-timing-function:easy;
	background-color: #44C29B;
	left: 2%;
	transform:rotate(10deg);
}
70%{
	animation-timing-function:easy;
	background: #23C6DD; 
	transform:rotate(0deg);
	left:80%;

}
100%{
	background-color: #92B901; 
	transform:rotate(-360deg);
}
